<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SignupAction</servlet-name>
		<servlet-class>com.bu.Action.SignupAction</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginAction</servlet-name>
		<servlet-class>com.bu.Action.LoginAction</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>SignupAction</servlet-name>
		<url-pattern>/SignupAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAction</servlet-name>
		<url-pattern>/LoginAction</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/welcome.jsp</welcome-file>
	</welcome-file-list>

</web-app>